:root {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

/* Reset crucial */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* O Vite renderiza tudo aqui dentro. Ele precisa ocupar a largura toda. */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block; /* Garante que ele se comporte como bloco total */
}