.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
     /* height: 100%; Garante que todos os cards no grid tenham a mesma altura */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.08);
  border-color: #2563eb;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.title {
  margin: 0;
  color: #111827;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
}

.badge {
  background-color: #eff6ff;
  color: #2563eb;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.description {
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
  display: flex;
  gap: 8px;
}

.infoIcon {
  flex-shrink: 0;
  margin-top: 3px;
  color: #2563eb;
}

.footer {
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 0.875rem;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Grupo de Ações */
.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  background: #fff;
  border: 1px solid #e5e7eb;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn {
  color: #64748b;
}

.editBtn:hover {
  color: #2563eb;
  background-color: #eff6ff;
  border-color: #bfdbfe;
}

.deleteBtn {
  color: #9ca3af;
}

.deleteBtn:hover {
  color: #ef4444;
  background-color: #fef2f2;
  border-color: #fee2e2;
}